{% extends 'base.html.twig' %}
{% trans_default_domain 'schedule' %}

{% block title %}{{ 'Kalendarz produkcji'|trans }}{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard_show') }}" aria-label="Pulpit"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ 'Kalendarz'|trans }}</li>
    </ol>
</nav>
{% endblock %}

{% block body %}
<app>
    <calendar-general></calendar-general>
</app>
{% endblock %}
