{% extends 'base.html.twig' %}
{% trans_default_domain 'role' %}

{% block title %}{{ 'Konfiguracja ról'|trans }}{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="{{ path('dashboard_show') }}" aria-label="Pulpit"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li class="breadcrumb-item">{{ 'Konfiguracja'|trans }}</li>
        <li class="breadcrumb-item active" aria-current="page">{{ 'Role'|trans }}</li>
    </ol>
</nav>
{% endblock %}

{% block body %}
<app>
    <auth-configuration-wrapper>
        <roles></roles>
    </auth-configuration-wrapper>
</app>
{% endblock %}
