{% extends 'base.html.twig' %}
{% trans_default_domain 'security' %}

{% block title %}{{ 'Konfiguracja użytkowników'|trans }}{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="{{ path('dashboard_show') }}" aria-label="Pulpit"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li class="breadcrumb-item">Konfiguracja</li>
        <li class="breadcrumb-item active" aria-current="page">Użytkownicy</li>
    </ol>
</nav>
{% endblock %}

{% block body %}
    <users-list></users-list>
{% endblock %}

