# Konfiguracja serwera
DEPLOY_HOSTNAME=your-server.example.com
DEPLOY_USER=your-username

# Ścieżki deploymentu
DEPLOY_PATH_PROD=~/domains/app.example.com/deployer
DEPLOY_PATH_TEST=~/domains/app-test.example.com/deploy

# Repository
DEPLOY_REPOSITORY=git@github.com:username/repository.git
