<!-- http://phpunit.de/manual/6.0/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
>

    <php>
        <server name="KERNEL_CLASS" value="App\Kernel" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled" />
        <env name="DATABASE_URL" value="mysql://user:secret@mysql:3306/sobczak_app_test" />
        <env name="APP_SECRET" value="$ecretf0rt3st" />
        <env name="SITE_BASE_URL" value="http://localhost" />
        <env name="LOCK_DSN" value="flock" />

        <ini name="error_reporting" value="-1" />
    </php>

    <testsuites>
        <testsuite name="Sobczak Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

</phpunit>