@import "variables";

.opacity-0 {
    opacity: 0;
}

.opacity-25 {
    opacity: 0.25;
}

.opacity-50 {
    opacity: 0.5;
}

.opacity-75 {
    opacity: 0.75;
}

.text-sm {
    font-size: 0.65rem;
}

.gap-1 {
    gap: 0.25rem;
}

.gap-2 {
    gap: 0.5rem;
}

.gap-3 {
    gap: 1rem;
}

.gap-4 {
    gap: 1.5rem;
}

.gap-5 {
    gap: 3rem;
}

.background-light {
    background-color: $lightgray3;
}

$primary-light-map: (
    10: $primaryLight10,
    20: $primaryLight20,
    30: $primaryLight30,
    40: $primaryLight40,
    50: $primaryLight50,
    60: $primaryLight60,
    70: $primaryLight70,
    80: $primaryLight80,
    90: $primaryLight90
);

@each $x, $color in $primary-light-map {
    .background-color-primary-light-#{$x} {
        background-color: $color;
        color: #666;
    }
}

.color-white-100 {
    color: var(--colorWhite100);
}

.background-color-white-100 {
    background-color: var(--colorWhite100);
}

.color-white-90 {
    color: var(--colorWhite90);
}

.background-color-white-90 {
    background-color: var(--colorWhite90);
}